header{
       
       height: 130px;
       padding-top: 0px;
       padding-bottom: 90px;
       display: grid;
       grid-template-columns: 5fr 5fr;
      }
      p{
        color:white;
        font-size: 15px;
        font-family:sans-serif;
      }
   #logo{
    justify-self: center;
    

        }   

    #interior{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
    }

    #fondopantalla{
      background-image: url("ImagenesLandingPage/banner2.png");
      height: 1080px;
      
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      width: 200%;
  }


    #galeria8 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 1%;
  
      p{
        color:black;
        font-family: sans-serif;
        font-size: 15px;
        text-align: left;
      }

      .letranegrita{
       
        font-size: 25px;
        font-weight: bold;
      }
      
      .ajusteimagen {
        max-height: 53%;
        overflow: hidden;  
        }
    }


    #propiedades{
      background-color: blueviolet;
      width: 200px;
      height: 200px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      column-gap: 2%;
      position: relative;
      margin-top: 550px;
  
      .enventa{
        max-height: 50%;
        overflow: hidden;
      }

      p{
        color:black;
        font-family: sans-serif;
        font-size: 15px;
      }
    }
#tituloh1{
  color:black;
  font-size: 25px;
  text-align: center;
  margin-top: 250px;
  
}

#tituloh2{
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 150px;
}
    
#piedepagina{
       display: grid;
       grid-template-columns: 1fr;
       background-color: black;
       height: 200px;
       padding-top: 10px;
       padding-bottom: 10px;
       align-content: end;
  p{
    color:white;
    text-align: center;
  }
  
}