
/*Para inicializar la pagina sin margenes iniciales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#fondodepantalla{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-position: top;
    }

nav{
   width: 100%;
   height: 100px;
   background-color: cadetblue;
   display: grid;
   grid-template-columns: 3fr 2fr;
   align-items: center;

   #logotipo{
          margin-left: 80px;
          padding-bottom: 30px;
           }

   .enlacesmenu 
        {
           display: grid;
           grid-template-columns: 1fr 1fr;
           align-items: center;
           gap: 40px;

     .idiomas{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
  
           } 

      
     a{
        text-decoration: none;
        color: white;
       }    
      
      .gris{
        color: gray;
           }

      .negrita{
        color: black;
              }     

     .registro{
         display: grid;
         grid-template-columns: 1fr 1px 1fr;
              }

      a{
         justify-self: center; 
        }         

     #barrita{
         height: 100%;
         width: 1px;
         background-color: black;
             }          
  }     

}

/*header{
       height: 130px;
       padding-top: 0px;
       padding-bottom: 90px;
       display: grid;
       grid-template-columns: 5fr 5fr;
      }
      p{
        color:white;
        font-size: 15px;
        font-family:sans-serif;
        margin: 0px;
               
      }
   #logo{
    background-color: brown;
    padding-top: 30px;
    display: inline;
    margin-left: 3%;
    align-items: center;
        }   

    #interior{
      display: inline;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 5fr 7fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
    }

    #fondopantalla{
      background-image: url("ImagenesLandingPage/banner2.png");
      height: 1080px;
      
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      width: 200%;
  }*/


    #galeria8 {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 1%;
  
      p{
        color:black;
        font-family: sans-serif;
        font-size: 15px;
        text-align: left;
      }

      .letranegrita{
       
        font-size: 25px;
        font-weight: bold;
      }
      
      .ajusteimagen {
        max-height: 53%;
        overflow: hidden;  
        }
    }


    #propiedades{
      background-color: blueviolet;
      width: 200px;
      height: 200px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      column-gap: 2%;
      position: relative;
      margin-top: 70px;
  
      .enventa{
        max-height: 50%;
        overflow: hidden;
      }

      p{
        color:black;
        font-family: sans-serif;
        font-size: 15px;
      }
    }
#tituloh1{
  color:black;
  font-size: 25px;
  text-align: center;
  margin-top: 120px;
  
}

#tituloh2{
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 150px;
}
    
#piedepagina{
       display: grid;
       grid-template-columns: 1fr;
       background-color: black;
       height: 200px;
       padding-top: 10px;
       padding-bottom: 10px;
       align-content: end;
  p{
    color:white;
    text-align: center;
  }
  
}